body{
background-color: rgb(255, 255, 255);
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
/* display: flex; */
}

nav{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;

}



.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin: 50px;
}




nav a:hover{
    color: blue;
}

.card p:hover{
    font-size: 150%;
    text-shadow: 2px 2px;
}

.card{
    margin: auto;
    text-align: center;
    width: 100px;
    background-color: rgb(226, 199, 110);
    

}