body{
background-color: antiquewhite;
}

nav{

}

#container{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 50%;
}

#card{
    width: 100px;
    background-color: chartreuse;
    border-radius: 5px;
}